body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    background-color:white;
    text-align:center;
    font-size: 14px;
    background-color:#EEEEEE;
}

form {
    margin:0px;
}

table {
    border-collapse:collapse;
}


div#address_form {
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    margin-top:15%;
    z-index:5;
}

form#main_form {
    padding:40px;
    border:1px solid #DFDFDF;
    border-radius:20px;
    background-color:#FAFAFA;

}

div#chain_select {
    display:inline-block;
}

input#your_address {
    width:350px;
    padding:5px;
    border-radius:5px;
    border: 1px solid #DFDFDF;
}

select#chain {
    padding:5px;
    border-radius:5px;
    border: 1px solid #DFDFDF;
}

input#submit_address {
    display:inline-block;
    border-radius:5px;
    width:300px;
    margin:auto;
    background-color:white;
    text-align:center;
    cursor:pointer;
    padding:5px;
    margin-top:10px;
    border: 1px solid #DFDFDF;
}


div#top_text {
    margin-bottom:10px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

div#transaction_list {
    padding-top:103px;
}

div.transaction {
    padding:20px;
    text-align:left;
    display:inline-block;
    min-width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border-radius:20px;
    /*border: 1px solid #A0A0A0;*/
    border: 1px solid white;
    position:relative;
    z-index:1;
}


div.transaction .top_section {
    margin-bottom: 5px;
}

div.transaction span {
    display:inline-block;
}

span.tx_chain {
    margin-left: 50px;
}

span.tx_hash {
    margin-left: 50px;
}

span.t_idx {
    float:right;
    color: #828282;
}

div.tx_row_1 {
    margin-top:5px;
    margin-bottom:5px;
}





/*colors -- order matters! */
.t_class_10 {
    background-color:#9EFF9E;
}

.t_class_5 {
    background-color:#FFFF9E;
}

.t_class_3 {
    background-color:#FFAC3A;
}

.t_class_0 {
    background-color:#FF0000;
}





div.t_class_ca_5 {
    background-color:#FFFF9E;
}

div.t_class_ca_3 {
    background-color:#FFAC3A;
}

div.t_class_ca_0 {
    background-color:#FF0000;
}



.custom_recolor_0 {
    background-color:#FF0000 !important;
}

.custom_recolor_3 {
    background-color:#FFAC3A !important;
}

.custom_recolor_5 {
    background-color:#FFFF9E !important;
}

.custom_recolor_10 {
    background-color:#9EFF9E !important;
}


.high_impact:before {
    content: "HIGH IMPACT";
    font-size:20px;
    font-weight:bold;
    transform: rotate(45deg);
    position:absolute;
    top:50px;
    right:0px;
}


.open_scan {
    width:16px;
    height:16px;
    display:inline-block;
    background-image: url(icons.png);
    background-position: -32px -78px;
}


.copiable {
    cursor:pointer;
}

input.row_rate {
    width:70px;
    background-color:transparent;
    border-width:0px 0px 1px 0px;
}

input.row_vaultid {
    width:120px;
    background-color:transparent;
    border-width:0px 0px 1px 0px;
}






div#tax_block {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;

  background-color:white;
  border-radius: 0px 0px 0px 20px;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  padding:20px;
  z-index:10;
}

div#tax_block div {
   /* margin-bottom:20px;*/
}

div#tax_block a {
    cursor: pointer;
    color:blue;
    text-decoration:underline;
    display:inline-block;
    margin-bottom:20px;
}


/*div#tax_results {
    position:fixed;
    min-width: 200px;
    top: 200px;
    right:0;
    border: 1px solid #BBBBBB;
    background-color:white;
    padding:20px;
    z-index:
}

div#tax_results th {
    font-weight:normal;
    font-size:12px;
    color:black;
}

div#tax_results td {
    max-width:75px;
    overflow:hidden;
    font-size:12px;
    max-height:15px;
    margin-right:5px;
}

div#tax_results tr.worthless {
    display:none;
}

div#tax_results #worthless_display {
    cursor: pointer;
    color:blue;
    text-decoration:underline;
    font-size: 12px;
    text-align:center;
}*/

div.holdings_holder {
    max-height:200px;
    overflow:auto;
}

div#all_holdings p {
    font-size:14px;
    margin-bottom: 5px;
}

div#download_tax_form {
    margin-bottom:20px;
    margin-top:5px;
}

div#no_holdings {
    font-size: 14px;
}

span.cp {
    cursor: pointer;
    text-decoration:underline;
}




div#progressbar_wrap {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


div.transfers {
    padding:10px;
    display:inline-block;
    /*display:none;*/
    background-color:rgba(0,0,0,0.03);
    border-radius:10px;
}

div#tc div.transfers {
    min-width:1160px;
}

table.rows {
    font-size:14px;
}

tr.transfers_header td.c {
    text-align:center;
}


td.r_arrow, span.r_arrow, span.mt_r_arrow {
    vertical-align:middle;
}

td.r_arrow div, span.r_arrow div, span.mt_r_arrow div {
    background-image: url(icons.png);
    background-position: -32px -49px;
    width: 16px;
    height: 16px;
}

td.r_amount, span.r_amount {
    padding-left: 15px;
    padding-right: 10px;
    min-width:100px;
    text-align:right;
}

td.r_token, span.r_token {
    min-width: 60px;
    max-width: 150px;
}

td.r_token {
    overflow: hidden;
}

span.r_token {
    margin-right: 50px;
}

td.r_treatment, span.r_treatment, td.r_rate, td.r_vaultid {
    padding-left: 15px;
}


select.treatment {
    /*width:70px;*/
    border:0px;
    background-color:transparent;
    margin-left:-3px;
}


div.primary_selected {
    /*min-width:60%;*/
    border: 3px solid #464646;
}

div.secondary_selected {
    border: 3px solid #464646;
}

div.select_similar {
    margin-top: 10px;
    max-width:1000px;
}

div.select_similar label {
    display:inline-block;
    margin-right:10px;
}

div.select_similar label {
    margin-right: 5px;
}

div.sim_buttons {
    text-align:center;
    max-width:600px;
    margin:auto;
}

div.sim_buttons div {
    display:inline-block;
    border-radius:5px;
    width:250px;
    margin-left:10px;
    margin-right:10px;
    background-color:white;
    text-align:center;
    cursor:pointer;
    padding:5px;
    margin-top:10px;
    border: 1px solid #777777;
}

div.sim_buttons .undo_changes {
    display:none;
}

div.grayed {
    cursor: default;
    background-color:default;
}


div#operations_block {
    position:fixed;
    top:0;
    left:0;
    width:200px;
    background-color:white;
    border-radius: 0px 0px 20px 0px;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    padding:20px;
    text-align:left;
    z-index:10;
}

a#deselect_all {
    display:block;
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}

div#selections_block {
    margin-top: 30px;
}

div#show_block .header {
    margin-top: 5px;
}

a.sel_opt {
    color:blue;
    cursor:pointer;
    text-decoration: underline;
    margin-right:10px;
}

a.sel_opt_chosen {
    color:black;
}


div#scroll_block {
    margin-top: 20px;
}

div.scroll_row {
    text-align:right;
}

/*div#scroll_block a {
    display:inline-block;
    color:blue;
    cursor:pointer;
    text-decoration: underline;
    margin-right:5px;
    margin-left:5px;
}*/

.next_ic, .prev_ic {
    width:16px;
    height:16px;
    display:inline-block;
    background-image: url(icons.png);
    cursor:pointer;
    position: relative;
    top:3px;
}

.next_ic {
    background-position: -128px -192px;
    margin-right:5px;
}

.prev_ic {
    background-position: -160px -192px;
}

a#hi_conf {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

div#hi_popup_explanation {
    margin-bottom: 5px;
}





div#types_block {
    margin-top: 10px;
}

a#types_create {
    color:blue;
    cursor:pointer;
    text-decoration:underline;
    margin-bottom: 15px;
    display:block;
}

div#tc {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #464646;
  width: 50%;
  min-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
  z-index:50;
}

div#tc td, div#tc span {
    padding-top: 3px;
    padding-bottom: 3px;
}

div.rule_conditions {
    display:inline-block;
}

div.rule_treatment {
    display:inline-block;
}

input#tc_name {
    border: 1px solid #777777;
    border-radius: 5px;
    height: 24px;
}

.tc_expl {
    display:inline-block;
    width:150px;
    padding-right: 5px;
    text-align:right;
}

#tc_rules_expl {
    margin-top: 15px;
}

#tc_desc {
    vertical-align: middle;
    height:42px;
    width:500px;
    border: 1px solid #777777;
    border-radius:5px;
}


.tc_rule_tok, .tc_rule_addr {
    width:100px;
}

select.tc_rule_sel {
    border-color: #DFDFDF;
    padding: 3px;
    border-radius:5px 0px 0px 5px;
}

.r_expl {
    margin-right: 5px;
    margin-left: 5px;
}

.r_rem, .r_mov, .r_add, .mt_r_rem {
    vertical-align:middle;
}

.r_rem div, .r_mov div, .r_add div, div.ct_icon, .mt_r_rem div  {
    background-image: url(icons.png);
    width: 16px;
    height: 16px;
}

.r_rem div, .mt_r_rem div {
    cursor:pointer;
    background-position: -96px -129px;
}

.r_mov div {
    cursor:grab;
    background-position: -128px -1px;
}

.r_add div {
    background-position: -32px -126px;
    display:inline-block;
}

.r_add {
    display:inline-block;
    cursor: pointer;
}

.r_add:hover {
    text-decoration:underline;
}

div.tc_rules span {
    display:inline-block;
}

#tc_rules_in {
    margin-top: 20px;
}

div#tc td.r_token, div#tc span.r_token {
    max-width:400px;
}

input.specific_val {
    padding:4px;
    border:1px solid #DFDFDF;
    border-radius:0px 5px 5px 0px;
    width: 150px;
}

div.hidden_custom .specific_val {
    display:none;
}



div.hidden_custom > select.tc_rule_sel, span.r_from_addr > select.tc_rule_sel, span.r_to_addr > select.tc_rule_sel  {
    border-radius:5px;
}


.shifted {
    /*position:relative;
    top:300px;*/
}

.hidden {
    display:none !important;
}

.err_mes {
    text-align:center;
    color:red;
    font-weight:bold;
}


div#custom_types_block {
    margin-top:30px;
}

ul#custom_types_list {
    list-style-type: none;
    margin:0px;
    padding:0px;
    margin-bottom:10px;
    max-height:400px;
    overflow:auto;
}

ul#custom_types_list li {
    text-align:right;
    margin-bottom:5px;
}

ul#custom_types_list .applicable {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

div.ct_icon {
    cursor:pointer;
    display:inline-block;
    margin-left:3px;
    position:relative;
    border:1px solid #EEEEEE;
    border-radius:5px;
    top:5px;
    background-color:#EEEEEE;
}

div.note {
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    max-width:600px;
}

.custom_type div.note_0 {
    background-color:#FF0000;

}

.custom_type div.note_3 {
    background-color:#FFAC3A;
}

.custom_type div.note_5 {
    background-color:#FFFF9E;
}


div.help {
    background-image: url(icons.png);
    width: 14px;
    height: 14px;
    cursor:pointer;
    display:inline-block;
    margin-left:5px;
    background-position: -49px -145px;
    margin-bottom:-3px;
    /*opacity:0.7;*/
    border-radius:50%;
    border:1px solid black;

}

span.ct_name {
    display:inline-block;
    max-width:90px;
    vertical-align:middle;
    line-height:12px;
    overflow-wrap:anywhere;
}

div.ct_unapply {
    background-position: 0px -64px;
}

div.ct_edit {
    background-position: -193px -113px;
}

div.ct_select {
    background-position: -160px -112px;
}

div.ct_delete {
    background-position: -177px -97px;
}


div#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.3);
    z-index:99;
}

.popup {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
}

div#popup {
    width:600px;
    height:60px;
    border-radius: 20px;
    background-color:white;
    padding:30px;
    border: 3px solid #464646;
    z-index:100;
}

div.custom_type, .custom {
    background-color: #bce6ff !important;
}

.cp_enter {
    border: 1px solid #464646;
    height: 25px;
    border-radius: 3px;
}

.apply_custom_cp, .cancel_custom_cp {
    height:25px;
    margin-left:3px;
    border: 1px solid #464646;
    border-radius:3px;
    background-color:white;
}

select.tc_rule_treatment {
    border-radius:5px;
}

.vault_id_wrap {
    display:none;
    margin-left: 10px;
}

.tc_vault_id_field {
    width: 100px;
}

div.vault_id_wrap input.specific_val {
    width:100px;
}


div#download_transactions_block {
    margin-top:20px;
}

a#download_transactions_json {
    margin-top:5px;
    margin-right:10px;
}



table#tax_sums {
    font-size:14px;
}

tr.matchup td {
    padding-left:25px;
    padding-bottom:10px;
    max-width: 600px;
}

tr.matchup p {
    margin:0px;
    padding:0px;
}


div#need_recalc {
    text-align:center;
    color:red;
}

.outdated {
    opacity:0.2;
}

div#recolor_block {
    margin-top: 30px;
}

div#color_options {
    text-align: center;
}

div#color_options div {
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:7px;
    margin-left:10px;
    cursor: pointer;
    border: 1px solid #606060;
}

div#color_undo {
    width:20px;
    height:20px;
    display:inline-block;
    background-image: url(icons.png);
    background-position: 2px -62px;
}








div#tax_block a#vaults_inspect, div#tax_block a#loans_inspect {
    display:inline-block;
    margin-bottom:5px;
    margin-right:10px;
}

div#tax_block a#vaults_inspect_all, div#tax_block a#loans_inspect_all {
    display:inline-block;
    margin-bottom:0px;
    margin-right:10px;
}

div#tax_block a#dc_inspect {
    display:block;
    margin-bottom:0px;
}

div#vaults_inspections_block, div#loans_inspections_block, div#dc_inspections_block {
    display:block;
    margin-top:15px;
}

div#dc_inspection_block {
    border-radius:5px;
    padding-top:3px;
    padding-bottom:3px;
}

div#dc_summary {
    padding:5px;
    border-radius:5px;
}

li.dc_adr {
    text-align:left;
    margin-top:5px;
    font-weight:bold;
}



ul.item_list {
    max-height:300px;
    overflow:auto;
    padding:0px;
   margin:0px;
   list-style-type:none;
}

li.vault, li.loan, li.dc_token {
    clear:both;
    padding:0px;
    margin-bottom:3px;
    border-radius:5px;
    border:1px solid #DFDFDF;
    background-color:#FAFAFA;

}

div.item_header:hover {
    background-color:white;
    opacity:1;

}

div.item_header {
    position:relative;
    cursor:pointer;
    padding:3px;
}

div.opened {
    opacity:1 !important;
}

div.item_id {
    text-align:left;
    overflow:hidden;
}

div.inspect_item_ic {
    position:absolute;
    top:0px;
    right:0px;
    width:16px;
    height:16px;
    background-image: url(icons.png);
    background-position: -16px -128px;
    /*opacity:0.7;*/
}

div.opened div.inspect_item_ic {
    background-position: -48px -128px;
}

table.vault_table, table.dc_info {
    font-size:12px;
    width:100%;
}

table.dc_info {
    border-bottom:1px solid #DFDFDF;
}

table.vault_table td, table.dc_info td {
    padding:2px;
    border-top:1px solid #DFDFDF;
}

div#opened_item {
    opacity:1;
}

div#tax_block div#opened_item a {
    margin:5px 0px;
}

table.vault_table td.vault_table_txnum, table.vault_table td.vault_table_tok {
    border-right:1px solid #DFDFDF;
    text-align:right;
    padding-right:10px;
}

div.action {
    margin-bottom:2px;
}

div.txnum {
    text-decoration:underline;
    cursor:pointer;
}

div.opened_subheader {
    padding-top:3px;
    border-top: 1px solid #DFDFDF;
}

div.opened_spacer {
    border-top: 1px solid #DFDFDF;
    height:15px;
    background-color:white;
}








a#mt_create {
    color:blue;
    cursor:pointer;
    text-decoration:underline;
    margin-bottom: 15px;
    display:block;

}

div#mt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #464646;
  width: 50%;
  min-width: 850px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: left;
  z-index:50;
}

div.mt_row {
    margin-bottom:10px;
}

div.mt_field {
    display:inline-block;
}

div.mt_r_add div {
    width:16px;
    height:16px;
    display:inline-block;
    background-image: url(icons.png);
    background-position: -32px -126px;
}

div.mt_r_add {
    display:inline-block;
    cursor: pointer;
}

div.mt_r_add:hover {
    text-decoration:underline;
}

div.mt_field_header {
    display:inline-block;
    width:130px;
    text-align:right;
    margin-right:5px;
}

div.mt_transfer {
    margin-bottom:10px;
}

div.mt_field input, div.mt_field select{
    border:1px solid #777777;
    border-radius: 5px;
    height: 24px;
    width: 200px;
}

div.mt_transfer {
    margin:5px;
}

input.mt_from, input.mt_to, input.mt_what, input.mt_amount, span.mt_r_arrow, span.mt_r_rem {
    display:inline-block;
}

div.mt_transfer input {
    border:1px solid #777777;
    border-radius: 5px;
    height: 24px;
    margin:3px;
}

ul.ui-autocomplete, div.ui-timepicker {
    text-align:left;
    font-size: 12px;
    border-radius:5px;
}

input.mt_nft_id {
    width:60px;
}

.manual {
    background-image: repeating-linear-gradient(45deg,
      transparent 0 60px,
      rgba(0, 0, 0, 0.02) 60px 120px)
}

form > .header {
    text-align:center;
    margin-bottom:10px;
}

#mt_transfers {
    width:840px;
    margin-top:5px;
}

















div#assist_block {
    position:fixed;
    bottom:10px;
    left:0;
    padding:20px;
    width:200px;
    text-align:left;
    color:#555555;
    z-index:0;

}

div#help_main {
    text-decoration:underline;
    cursor:pointer;
    margin:auto;
    margin-bottom:10px;
    color:#555555;
    display:inline-block;
}

div#assist_block a {
    color:#555555;
}

div#attribution {
    margin-top:10px;
}

div#br_block {
    position:fixed;
    bottom:10px;
    right:0;
    padding-bottom:20px;
    width:280px;
    text-align:left;
    color:#BBBBBB;
    z-index:0;
    font-size: 12px;
}

div#donation_address {
    text-decoration:underline;
}

div#donation_address:hover {
    color:#555555;
}



div#help_popup {
    border-radius: 20px;
    background-color:white;
    padding:30px;
    border: 3px solid #464646;
}

div.help_header {
    margin-bottom:10px;
}

div.help_text {
    text-align:left;
}

div.help_content {
    width:600px;
}


div#help_main_popup {
    border-radius: 20px;
    background-color:#FAFAFA;
    /*padding:30px;*/
    border: 3px solid #464646;
    width:90%;
    height:90%;
    min-width:700px;
}

div.help_main_content {
    /*width: 1000px;*/
}

div.help_topics {
    float:left;
    width:20%;
    height:100%;
    border-right:1px solid #CCCCCC;
    box-sizing:border-box;
    padding:20px;

    background-color:white;
    border-radius:20px 0px 0px 20px;
}

ul.help_topics_list {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

ul.help_topics_list li {
    margin-bottom:15px;
    cursor:pointer;
    text-align:left;
    color:#CCCCCC;
}
ul.help_topics_list li:hover {
    text-decoration:underline;
    color:black;
}

ul.help_topics_list li.help_topic_selected {
    color:black;
}

div.help_topic_content {
    float:right;
    width:80%;
    box-sizing:border-box;
    padding:20px;
    height:100%;
    overflow:auto;
}

div#close_help_main {
    width:16px;
    height:16px;
    display:inline-block;
    background-image: url(icons.png);
    background-position: -96px -129px;
    position:absolute;
    top:15px;
    right:15px;
    cursor:pointer;
}

div.help_text h4 {
    margin-bottom:-5px;
    margin-top:30px;
}


div#eula {
    border-radius: 20px;
    background-color:white;
    border: 3px solid #464646;
    padding: 30px;
    text-align:left;
}

h3 {
    text-align:center;
}

input.error {
    background-color:#FFAC3A;
}

label.error {
    color:red;
    font-weight:bold;
}

.main_error {
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    top:100px;
}

.non_fatal_error {
    color:red;
    font-weight:bold;
    font-size:16px;
    display:block;
    max-width:600px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
}

a#enable_fast_mode, a#disable_fast_mode {
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}

div.chain_opt {
    display:inline-block;
    margin-right:5px;
    margin-left:5px;
}


div.pagination {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color:#EEEEEE;
    padding:5px;
    z-index:5;
}

div.pagination_header {
    display:inline-block;
    color: #555555;
}

div.pagination_list {
    display:inline-block;
    margin-right:20px;
}

div.paginationjs ul {
    padding:0px;
    margin:0px;
}

div.paginationjs li {
    display:inline-block;
    width:30px;
    line-height:20px;
    /*border:1px solid white;*/
}

div.paginationjs li.active {
    background-color:white;
    border-radius:3px;
}

div.paginationjs li a {
    color: #555555;
    width:30px;
    line-height:20px;
    display:inline-block;
}

select.pagination_per_page {
    border-radius:3px;
    border-color:#DFDFDF;
    height:20px;
    margin-left:3px;
    color:#555555
}

div#displayed_address_list {
    display:inline-block;
    margin-right: 5px;
}

div.displayed_address_top {
    display:inline-block;
}

a#select_chains {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

div#top_menu {
    display:none;
    user-select:none;
}

div#top_menu_icon {
    background-image: url(icons.png);
    width: 16px;
    height: 16px;
    cursor:pointer;
    display:inline-block;
    margin-left:5px;
    border-radius:3px;
    border:1px solid #DFDFDF;
    position:relative;
    top:3px;
    background-color:white;
}

div.top_menu_icon_closed {
    background-position: -32px -128px;
}

div.top_menu_icon_open {
    background-position: -64px -128px;
}

div#aa_clicker {
    color:blue;
    cursor:pointer;
    text-decoration:underline;
    display:inline-block;
    margin-top:5px;
    margin-bottom:20px;
}

div#aa_popup, div#hi_popup {
    width:600px;
    height:80px;
    border-radius: 20px;
    background-color:white;
    padding:30px;
    border: 3px solid #464646;
    z-index:100;
}



div#aa_process, div#aa_cancel, div#hi_update, div#hi_cancel {
    padding:5px;
    text-align:center;
    display:inline-block;
    border-radius:5px;
    background-color:white;
    border: 1px solid #DFDFDF;
    margin:5px;
    cursor:pointer;
    width:150px;
}

input#aa_input, input#hi_input {
    width:350px;
    padding:5px;
    border-radius:5px;
    border: 1px solid #DFDFDF;
    display:block;
    margin:auto;
    margin-bottom:10px;
}

ul#display_address_selector {
    width:400px;
    margin:auto;
    margin-top:20px;
    text-align:left;
    padding:0px;
    list-style-type: none;
}

div.display_address_option {
    width:370px;
    display:inline-block;
}

div.address_selector_error {
    color:red;
    font-weight:bold;
}

span.self_address_one_of {
    font-style:italic;
}

div#current_page {
    margin-bottom:30px;
}

div.custom_note {
    margin-top:3px;
}

div.add_note {
    display:none;
    text-decoration:underline;
    cursor:pointer;
    margin-top:3px;
}

#add_note_hold textarea {
    height:42px;
    width:500px;
    border: 1px solid #777777;
    border-radius:5px;
    display:block;
    margin-top:10px;
    margin-bottom:3px;
}

div.note_buttons {
    text-align:center;
    width:500px;
}



#add_note_hold button {
    height:25px;
    width:150px;
    border: 1px solid #777777;
    border-radius:3px;
    background-color:white;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}

a#demo_link {
    display:block;
    color:#AAAAAA;
    text-decoration:underline;
    cursor:pointer;
    margin-top:20px;
    width:100px;
    margin-left:auto;
    margin-right:auto;
}
a#demo_link:hover {
    color:black;
}
div#demo_warning {
    color:red;
    margin-top:10px;
}

div#error_discord {
    margin-top:20px;
}
div#supported_chain_list {
    margin-top:10px;
    width:600px;
}

div#initial_options {
    margin-top:20px;
}

label#validation_hook-error {
    display:block;
}


div#dc_fix_popup {
    width:800px;
    /*height:400px;*/
    border-radius: 20px;
    background-color:white;
    padding:30px;
    border: 3px solid #464646;
    z-index:100;
}

div#dc_fix_popup ul {
    padding:0px;
    margin:10px;
    list-style-type:none;
    max-height:300px;
    text-align:left;
    overflow:auto;
}


div#address_matrix {
    margin-top:20px;
    white-space: nowrap;
}

table#address_matrix_left {
    display:inline-block;
    font-size:12px;
    vertical-align:top;
    border-right: 1px solid #EEEEEE;
}

table#address_matrix_right {
    display:inline-block;
    max-width:400px;
    font-size:12px;
    overflow:auto;
    vertical-align:top;
}
div#address_matrix td {
    height: 35px;
    width: 50px;
    text-align:center;
    vertical-align:top;
}

div#address_matrix tr.all_addresses_row td {
    border-bottom: 1px solid #EEEEEE;
    height:20px;
}

div#address_matrix td.addresses_column {
    width:100px;
}

div#address_matrix tr.chain_names_row td {
    vertical-align:bottom;
}

div#updated_note {
    width: 600px;
    color: red;
    margin-top:10px;
    text-align:left;
    font-weight:bold;
}






a#chain_support_link {
    color:black;
}

div#chain_support_content {
    margin-left:10%;
    margin-right:10%;
    margin-bottom:50px;
}

div#chain_support_content h2 {
    font-weight:normal;
    margin-top:50px;
}

div#chain_support_content h4 {
    font-weight:normal;
    font-size: 10px;

}

table#chain_support {
    max-width:1000px;
    width:100%;
    margin:auto;
}


table#chain_support th {
    font-weight:normal;
    border: 1px solid white;
    padding:10px;
    background-color: #DFDFDF;
}

table#chain_support tr.support_10 td {
    background-color:#9EFF9E;
}

table#chain_support tr.support_5 td {
    background-color:#FFFF9E;
}

table#chain_support tr.support_3 td {
    background-color:#FFAC3A;
}

table#chain_support td {
    padding:20px;
    border: 1px solid white;
}

div#additional_data_sources {
    text-align:center;
    margin-top:20px;
    font-size:16px;
}

table#additional_data {
    max-width:1000px;
    width:100%;
    margin:auto;
}

table#additional_data td {
    padding:20px;
    border: 1px solid white;
}

div#social a {
    margin-right: 10px;
}